<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SmartTravel{% endblock %}</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 30px; line-height: 1.6; color: #333; background-color: #fafafa;"></body>
    <header>
        <h1>Travel Agency</h1>
        <a href="{{ url_for('web.index') }}">Strona Główna (Katalog)</a>
        <a href="/destinations">Podgląd danych JSON</a>
        <hr />
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="background-color: #e2e2e2; padding: 10px; margin-bottom: 15px;">
                <strong>Komunikat:</strong>
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            <hr />
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>